<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AppInfoSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 拦截器 -->
<!--   <filter> -->
<!--   	<filter-name>SysFilter</filter-name> -->
<!--   <filter-class>cn.appsys.tools.SysFilter</filter-class> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--   	<filter-name>SysFilter</filter-name> -->
<!--   	<url-pattern>/WEB-INF/jsp/*</url-pattern> -->
<!--   </filter-mapping> -->
  
  <!-- 核心控制器的配置 -->
  <servlet>
  	 <servlet-name>springmvc</servlet-name>
  	 <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	 <init-param>
  	 	<param-name>contextConfigLocation</param-name>
  	 	<param-value>classpath:springmvc-servlet.xml</param-value>
  	 </init-param>
  	 <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	 <servlet-name>springmvc</servlet-name>
  	 <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- Spring的配置信息 -->
  <!-- 通过全局上下文参数来加载Spring配置文件 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContexts.xml</param-value>
  </context-param>
  <!-- 监听器:通过监听器让Spring运行起来 -->
  <!-- 给Spring配置一个监听器，让Spring运作起来 -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 字符编码过滤器 -->
  <filter>
     <filter-name>encod</filter-name>
  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
     <init-param>
       <param-name>encoding</param-name>
       <param-value>utf-8</param-value>
     </init-param>
  </filter>
  <filter-mapping>
     <filter-name>encod</filter-name>
     <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <!-- 全局异常拦截 -->
<!--   <error-page> -->
<!--   	 <error-code>404</error-code> -->
<!--   	 <location>/jsp/error.jsp</location> -->
<!--   </error-page> -->
  
  
</web-app>